
.business-card {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

.business-card-text {
  max-width: 720px;
  text-align: justify;
}

.business-card-text .title {
  font-size: 1.5rem;
  text-align: center;
}

.business-card-text .content {
  padding: 0 20px;
}

@media screen and (max-width: 720px) {
  .business-card,
  .business-card-text .title,
  .business-card-text .content {
    padding: 0;
  }

  .business-card-text .title {
    font-size: 1.1rem;
  }
}