.link {
  align-items: center;
  color: inherit;
  display: flex;
  font-size: 1.4em;
  text-decoration: none;
}

.nav-icon {
  background-color: var(--main-txt);
  border-radius: 6px;
  margin-right: 20px;
  padding: 4px;
  width: 20px;
}

.link {
  color: inherit;
  font-size: 1.4em;
  line-height: 1.6em;
  margin: 8px;
  opacity: 1;
  transition: 0.3s;
}

.link:hover {
  opacity: 0.6;
  transform: scale(1.1);
}