.signature-container {
  align-items: center;
  color: inherit;
  display: flex;
  justify-content: center;
  margin: 0 40px;
  text-decoration: none;
}

.signature {
  transition: all 0.3s;
}

.signature:hover {
  opacity: 0.6;
  transform: scale(1.1);
}


@media screen and (max-width: 480px) {
  .signature {
    font-size: 0.6rem;
    margin: auto;
    max-width: 320px;
  }
}