.carousel-container {
  margin: 0 auto 40px auto;
  height: 100px;
  width: 100%;
  z-index: -1;
}

.image-wraper {
  align-items: center;
  background-color: var(--main-bg);
  background-image: var(--bg-pattern);
  border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  display: flex;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  /* width: 360px; 5icons: 360px, 7icons: 480px, 9icons: 600px, 11icons: 720px */
}
