:root {
  --icon-animation-duration: 3s;
}

.icon-container {
  align-items: center;
  background-color: transparent;
  display: flex;
  height: 80px;
  justify-content: center;
  width: 80px;
}

.icon {
  margin: 0 20px;
  opacity: 0.4;
  width: 40px;
}

.first {
  animation: slideOut var(--icon-animation-duration) ease-in-out;
  animation-fill-mode: forwards;
}

.second {
  animation: slideFade var(--icon-animation-duration) ease-in-out;
  animation-fill-mode: forwards;
  height: 80px;
  opacity: 1;
  width: 80px;
}

.third {
  animation: slideGrow var(--icon-animation-duration) ease-in-out;
  animation-fill-mode: forwards;
}

.fourth {
  animation: slideIn var(--icon-animation-duration) ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
    opacity: 0.4;
  }
  100% {
    transform: translateX(-80px);
    opacity: 0;
  }
}

@keyframes slideFade {
  0% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-80px) scale(0.5);
    opacity: 0.4;
  }
}

@keyframes slideGrow {
  0% {
    transform: translateX(0);
    opacity: 0.4;
  }
  100% {
    transform: translateX(-80px) scale(2);
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-80px);
    opacity: 0.4;
  }
}
