:root {
  --icon-animation-duration: 2.5s;
}

.icon-container {
  align-items: center;
  background-color: transparent;
  display: flex;
  height: 80px;
  justify-content: center;
  width: 80px;
}

.icon {
  margin: 0 20px;
  opacity: 0.5;
  width: 20px;
}

.slide {
  animation: slide var(--icon-animation-duration) ease-in-out;
  animation-fill-mode: forwards;
}

.md {
  width: 40px;
}

.hidden {
  animation: iconIn var(--icon-animation-duration) ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

.sm.in {
  animation: growMd var(--icon-animation-duration) ease-in-out;
  animation-fill-mode: forwards;
}

.md.in {
  animation: growLg var(--icon-animation-duration) ease-in-out;
  animation-fill-mode: forwards;
}

.lg {
  animation: shrinkMd var(--icon-animation-duration) ease-in-out;
  animation-fill-mode: forwards;
  height: 80px;
  opacity: 1;
  width: 80px;
}

.md.out {
  animation: shrinkSm var(--icon-animation-duration) ease-in-out;
  animation-fill-mode: forwards;
}

.fade {
  animation: iconOut var(--icon-animation-duration) ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0.5;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-60px);
  }
}

@keyframes iconOut {
  0% {
    opacity: 0.5;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-60px);
  }
}

@keyframes iconIn {
  0% {
    opacity: 0;
    transform: translateX(0px);
  }
  100% {
    opacity: 0.5;
    transform: translateX(-60px);
  }
}

@keyframes growMd {
  0% {
    transform: scale(1) translateX(0px);
  }
  100% {
    transform: scale(2) translateX(-35px);
  }
}

@keyframes growLg {
  0% {
    opacity: 0.5;
    transform: scale(1) translateX(0px);
  }
  100% {
    opacity: 1;
    transform: scale(2) translateX(-40px);
  }
}

@keyframes shrinkMd {
  0% {
    opacity: 1;
    transform: scale(1) translateX(0px);
  }
  100% {
    opacity: 0.5;
    transform: scale(0.5) translateX(-160px);
  }
}

@keyframes shrinkSm {
  0% {
    transform: scale(1) translateX(0px);
  }
  100% {
    transform: scale(0.5) translateX(-140px);
  }
}
