@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

.logo-container {
  align-items: center;
  color: inherit;
  display: flex;
  height: 100px;
  justify-content: center;
  margin-left: 40px;
  text-decoration: none;
  width: 100px;
}

.logo-wrapper {
  font-size: 72px;
}

.logo {
  align-items: center;
  background-color: var(--main-bg);
  border: 4px solid var(--main-txt);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  height: 70px;
  justify-content: center;
  width: 70px;
}

.logo-sup {
  /* font-family: 'Rubik Mono One', sans-serif !important; */
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: -8px;
}

.logo-mid {
  font-family: 'Rubik Mono One', sans-serif !important;
  font-size: 20px;
  margin-bottom: -12px;
}

.logo-sub {
  font-size: 12px;
  font-style: italic;
  margin-bottom: 4px;
}