.profile-image-container {
  align-items: center;
  display: flex;
  margin: 0 20px;
  max-width: 320px;
}

.profile-image {
  background-color: var(--main-txt);
  background-image: var(--bg-pattern);
  border-radius: 60% 40% 75% 25% / 70% 70% 30% 30%;
  width: 100%;
}