:root {
  --emphasis-font: 'Rubik Mono One', sans-serif !important;
}

.tech-details-wrapper {
  align-items: center;
  background-color: var(--main-bg);
  background-image: var(--bg-pattern);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 480px;
  min-width: 240px;
  padding: 20px;
}

.tech-img {
  margin: 0 auto 20px auto;
  width: 80px;
}

.tech-name {
  font-family: var(--emphasis-font);
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.tech-details-wrapper a {
  color: inherit;
  font-family: var(--emphasis-font);
  font-size: 1.2rem;
}
