.app {
  align-items: center;
  flex-direction: column;
  display: flex;
  height: 100%;
  justify-content: flex-start;
  min-width: 320px;
}

.page-section {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1160px;
  padding: 0 40px;
}

@media screen and (max-width: 720px) {
  .page-section {
    padding: 0 20px;
  }
}
