.app {
  align-items: center;
  flex-direction: column;
  display: flex;
  height: 100%;
  justify-content: flex-start;
  min-width: 320px;
}

.page-section {
  margin: 0 auto;
  padding: 20px;
}

.section-title {
  margin-top: 120px;
}