:root {
  --toggle-button-transition: 0.7s;
}

.toggle-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  position: relative;
}

/* CONTROLANDO A APARÊNCIA DO MENU */
.links {
  background-color: var(--main-bg);
  border-radius: 6px;
  height: 0;
  margin-top: 25px;
}

.links ul {
  list-style-type: none;
}

.links.active {
  align-items: flex-start;
  animation: slideDown 0.4s;
  animation-fill-mode: forwards;
  display: flex;
  height: 360px;
  justify-content: center;
  position: fixed;
  right: 0;
  top: 50px;
  z-index: 9999;
}

.links.active ul li {
  animation: revealText 1.2s;
  line-height: 1.6em;
  margin: 16px;
  opacity: 1;
  z-index: 9999;
}

.links.active .link {
  color: inherit;
  font-size: 1.4em;
  opacity: 1;
  text-decoration: none;
  transition: 0.3s;
  z-index: 9999;
}

@keyframes slideDown {
  from { height: 0; }
  to   {
    height: 360px;
    transform: translateY(25px);
  }
}

@keyframes revealText {
  from { opacity: 0; }
  to   { opacity: 1; }
}
